*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    /* border: 2px solid red; */
    height: 60px;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: inline-flex;
    border: 2px solid #676d79;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 1%;
}
#left>div{
    border: 2px solid;
    width: 60px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: blue;
    color: #fff;
}
#left>div+div{
    border-radius: 10px;
    background-color: rgba(9, 30, 66);
    width: 60px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
}
#right{
    display: inline-flex;
    border: 2px solid #676d79;
    width: 140px;
    height: 40px;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 1%;
    color: #676d79;
}
header>p{
    /* border: 2px solid black; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 24%;
    width: 300px;
    height: 40px;
    color: #676d79;
}
section{
    /* border: 2px solid blue; */
    height: 900px;
    width: 100%;
}
section>h1{
border-radius: 5px;
position: absolute;
top: 20%;
left: 42%;
display: inline-flex;
justify-content: center;
align-items: center;
height: 60px;
width: 200px;
background-color: #e7746f;
color: aliceblue;
font-size: 30px;
font-weight: 700;
}
section>h1+h1{
position: absolute;
top: 35%;
left: 40%;
display: inline-flex;
justify-content: center;
align-items: center;
height: 60px;
width: 250px;
background-color: #fff;
color: #676d79;
font-size: 40px;
}
section>aside{
    border: 2px solid #676d79;
    height: 250px;
    width: 400px;
    position: absolute;
    top: 48%;
    left: 35%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section>aside>div{
border: 2px solid #676d79 ;
display: inline-flex;
justify-content: center;
align-items: center;
height: 40px;
width: 300px;
position: absolute;
top: 15%;
left: 15%;
font-size: 18px;
}
section>aside>div+div{
    border: 2px solid #676d79 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
    position: absolute;
    top: 45%;
    left: 35%;
    font-weight: bold;
}
section>p{
    position: absolute;
    top: 100%;
    left: 25%;
    color: #676d79;
    font-size: 18px;
}
section>input{
    border-radius: 5px;
    width: 500px;
    height: 50px;
    padding: 5px 120px;
    font-size: larger;
    position: absolute;
    top: 110%;
    left: 25%;
    background-color: #eff1f5;

}
section>button{
    border-radius: 5px;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-size: larger;
    position: absolute;
    top: 110%;
    left: 65%;
    background-color: aliceblue;
    color: #676d79;
}
section>div{
    display: inline-flex;
    border: 2px solid #676d79;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 130%;
    left: 45%;
}
section>div>div{
    border: 2px solid;
    width: 60px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    background-color: blue;
    color: #fff;
}
section>div>div+div{
    border-radius: 10px;
    background-color: rgba(9, 30, 66);
    width: 60px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
}